@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Customer Application</h1>
        <h1 class="display-4">by Rose Natalie Tesoro</h1>
    </div>
